<?xml version="1.0" ?>
<robot name="bowl.urdf">
  <material name="White">
    <color rgba=".9 .9 .9 1"/>
  </material>
  <link name="base_link">
    <contact>
      <lateral_friction value="1.0"/>
    </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value=".0"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <geometry>
		<mesh filename='bowl_reduced_compressed.obj' />
      </geometry>
      <material name="bowl"/>
    </visual>
    <collision>
      <geometry>
		<mesh filename='bowl_vhacd.obj' />
      </geometry>
    </collision>
  </link>
</robot>