absl-py==0.11.0
aiohttp==3.7.3
aiohttp-cors==0.7.0
aioredis==1.3.1
appnope==0.1.2
# -e git+https://github.com/00schen/CursorControl.git@1ed08d1877cf3f65076ad9710e965db1e388a4d2#egg=assistive_gym&subdirectory=assistive-gym
astor==0.8.1
async-timeout==3.0.1
attrs==20.3.0
backcall==0.2.0
beautifulsoup4==4.9.3
blessings==1.7
bz2file==0.98
cached-property==1.5.2
cachetools==4.1.1
certifi==2020.11.8
chardet==3.0.4
click==7.1.2
cloudpickle==1.6.0
colorama==0.4.4
colorful==0.5.4
cycler==0.10.0
dataclasses==0.6
decorator==4.4.2
dill==0.3.1.1
dlib==19.21.1
dm-tree==0.1.5
dopamine-rl==3.0.1
e==1.4.5
filelock==3.0.12
Flask==1.1.2
future==0.18.2
gast==0.4.0
gevent==1.5.0
gin-config==0.3.0
google==3.0.0
google-api-core==1.23.0
google-api-python-client==1.8.0
google-auth==1.23.0
google-auth-httplib2==0.0.3
google-pasta==0.2.0
googleapis-common-protos==1.52.0
gpustat==0.6.0
greenlet==0.4.15
grpcio==1.34.0
gtimer==1.0.0b5
gunicorn==20.0.4
gym==0.17.3
h5py==2.10.0
hiredis==1.1.0
httplib2==0.17.2
idna==2.10
importlib-metadata==3.1.1
ipython
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
joblib==0.17.0
jsonschema==3.2.0
Keras==2.3.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kfac==0.2.0
kiwisolver==1.3.1
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib==3.3.3
mesh-tensorflow==0.1.13
mpmath==1.1.0
msgpack==1.0.0
multidict==5.1.0
numpy==1.19.4
nvidia-ml-py3==7.352.0
oauth2client==4.1.3
opencensus==0.7.11
opencensus-context==0.1.2
opencv-python==4.4.0.46
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.0.1
prometheus-client==0.9.0
promise==2.3
prompt-toolkit==3.0.8
protobuf==3.14.0
psutil==5.7.3
ptyprocess==0.6.0
py-spy==0.3.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
# pybullet==3.1.7
pygame==2.0.0
pyglet==1.5.0
Pygments==2.7.2
pyparsing==2.4.7
pypng==0.0.20
pyrsistent==0.17.3
python-dateutil==2.8.1
pytz==2020.4
PyYAML==5.3.1
ray==1.0.1.post1
redis==3.4.1
requests==2.25.0
# -e git+https://github.com/00schen/CursorControl.git@1ed08d1877cf3f65076ad9710e965db1e388a4d2#egg=rl&subdirectory=image
# -e git+https://github.com/00schen/CursorControl.git@1ed08d1877cf3f65076ad9710e965db1e388a4d2#egg=rlkit&subdirectory=rlkit
rsa==4.6
scikit-learn==0.23.2
scipy==1.5.4
screeninfo==0.6.1
six==1.15.0
sklearn==0.0
sounddevice==0.3.14
soupsieve==2.0.1
sympy==1.5.1
tensorboard==1.14.0
tensorboard-logger==0.1.0
tensorflow==1.14.0
tensorflow-datasets==2.1.0
tensorflow-estimator==1.14.0
tensorflow-metadata==0.21.1
tensorflow-probability==0.11.1
termcolor==1.1.0
threadpoolctl==2.1.0
torch==1.7.0
torchvision==0.8.1
tqdm==4.54.0
traitlets
typing-extensions==3.7.4.3
uritemplate==3.0.1
urllib3==1.26.2
virtualenv==16.7.8
wcwidth==0.2.5
Werkzeug==1.0.1
wrapt==1.12.1
yarl==1.6.3
zipp==3.4.0
