<?xml version="1.0" ?>
<robot name="panfood.urdf">
  <material name="Caramel">
    <color rgba=".95 .8 .54 1"/>
  </material>
  <link name="base_link">
    <contact>
      <lateral_friction value="1.0"/>
    </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value=".0"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <geometry>
		<cylinder radius=".1" length=".02"/>
      </geometry>
      <material name="Caramel"/>
    </visual>
    <collision>
      <geometry>
		<cylinder radius=".1" length=".02"/>
      </geometry>
    </collision>
  </link>
</robot>
